# ----------------------------
# Python
# ----------------------------
venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.sqlite3

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Django
# ----------------------------
backend/media/
media/
staticfiles/

# ----------------------------
# Node.js
# ----------------------------
node_modules/
dist/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Postman
# ----------------------------
.postman/
postman/

# ----------------------------
# Operating System
# ----------------------------
.DS_Store
Thumbs.db